@media screen and (min-width: 1366px) {
    .container{max-width: 1300px;}
}

@media only screen and (max-width: 1024px) {
    html {
        overflow-x: hidden;
    }
    body {
        padding-top: 0;
        overflow-x: hidden;
    }
    .mobile {
        display: block !important;
    }
    .desktop {
        display: none !important;
    }
    section.mainSlider .container {
        padding-top: 190px;
    }
   

}
@media only screen and (max-width: 767px) {
    section.mainSlider .container{
        padding-top: 120px;
    }
    a.navbar-brand img {
        width: 100px;
    }

    .sliderContent h1 {
        font-size: 50px;
    }

    .sliderContent h3 {
        font-size: 18px;
    }

    .sliderContent p {
        font-size: 15px;
    }
    .companyThumb {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .counter {
        flex-wrap: wrap;
    }

    .counterBx {
        width: calc(50% - 15px);
    }
    .companyContent .d-flex.align-items-center {
        flex-wrap: wrap;
    }

    .compnayAwards {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .circle-text-wrp {
        top: -70px;
        right: 27%;
    }
    .mainHeader .container {
        flex-wrap: wrap;
        gap: 10px;
    }

    .mainHeader .container ul {
        width: 100%;
        justify-content: center;
    }
    
}
@media only screen and (max-width: 460px) {}