@media screen and (min-width: 1366px) {
    .container{max-width: 1300px;}
}

@media only screen and (max-width: 1024px) {
    html {
        overflow-x: hidden;
    }
    body {
        padding-top: 0;
        overflow-x: hidden;
    }
    .mobile {
        display: block !important;
    }
    .desktop {
        display: none !important;
    }
    section.mainSlider .container {
        padding-top: 190px;
    }
    .accordian-image-container .image-text{
        transform: translateX(-20%);
    }
    #section-fun-facts .new-card {
        padding: 25px;
    }
    .new-card h1 {
        font-size: 32px !important;
    }
   

}
@media only screen and (max-width: 767px) {
    section.mainSlider .container{
        padding-top: 120px;
    }
    .customSec{
        padding: 50px 0;
    }
    a.navbar-brand img {
        width: 100px;
    }

    .sliderContent h1 {
        font-size: 50px;
    }

    .sliderContent h3 {
        font-size: 18px;
    }

    .sliderContent p {
        font-size: 15px;
    }
    .companyThumb {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .counter {
        flex-wrap: wrap;
    }

    .counterBx {
        width: calc(50% - 15px);
    }
    .companyContent .d-flex.align-items-center {
        flex-wrap: wrap;
    }

    .compnayAwards {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .circle-text-wrp {
        top: -70px;
        right: 27%;
    }
    .mainHeader .container {
        flex-wrap: wrap;
        gap: 10px;
    }

    .mainHeader .container ul {
        width: 100%;
        justify-content: center;
    }
    .flex-heading {
        flex-wrap: wrap !important;
    }
    .accordian-main-title {
        font-size: 20px;
    }
    .accordion-section-title img {
        width: 250px;
        margin-left: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .accordian-image-container img {
        height: 400px;
    }
    .accordion-section-title:before {
        top: 0px;
        padding: 0px;
    }
    .accordion-section-title:hover img {
        margin-left: 50px;
    }
    .accordian-image-container {
        height: auto;
        margin-bottom: 20px;
    }
    .zerodown .companyThumb {
        padding-top: 150px;
    }

    .zerodown .circle-text-wrp {
        top: 20px;
    }
    .mb-sm-30 {
        margin-bottom: 30px;
    }
    .google-img {
        text-align: center;
    }
    .widget {
        padding-bottom: 0px !important;
        text-align: center;
    }
    footer {
        padding: 30px 0px;
    }
    
}
@media only screen and (max-width: 460px) {}