@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
  }
  body {font-family: "DM Sans", sans-serif; font-size: 14px;padding-top: 0;}
  a, a:hover, a:focus {  text-decoration: none;  transition: all 400ms ease; }
  img{max-width: 100%}
  /* h1, h2, h3, h4, h5, h6 {  } */
  input, button { outline: none !important; box-shadow: none; }
  button{cursor: pointer;}
  .gap-5{
    gap: 3rem;
  }
  .full-width{
    width: 100%;
  }
  .underLine {
      text-decoration: underline;
      color: #000000;
  }
  .listInline {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
      gap: 10px;
  }
  .gap20{
      gap: 20px;
  }
  .underLine:hover {
      text-decoration: none;
      color: #000;
  }
  .owl-carousel .owl-item img{
      width: auto;
  }
  .topGap{
      padding-top: 140px;
  }
  .fullWidth{width: 100%;}
  .mobile{display: none !important;}
  .mainHeader {
      background: #fff;
      padding: 15px 0;
  }
  
  header.mainHeader a {
    color: #0e2b5c;
    font-weight: 400;
    font-size: 14px;
}
.mainSlider{
    background: url(../images/bg-7.webp) 0 0 no-repeat;
    background-size: cover;
/*    min-height: calc(100vh - 51px);*/
}
section.mainSlider .container {
    position: relative;
    padding-top: 120px;
}

a.navbar-brand.p-0 {
    position: absolute;
    left: 15px;
    top: 0;
}

a.navbar-brand img {
    width: 180px;
}

.sliderContent h3 {
    font-size: 20px;
    color: #12144b;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.sliderContent h1 {
    font-size: 60px;
    color: #12144b;
    font-weight: 600;
    margin: 10px 0;
}

.sliderContent h2 {
    font-size: 32px;
    color: #fc5546;
    margin: 0 0 40px;
}

.sliderContent p {
    font-size: 20px;
    font-weight: 400;
}

.orangeBtn {
    display: inline-flex;
    padding: 9px 30px;
    background: #ee5343;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    border: solid 1px #ee5343;
    border-radius: 7px;
}
.orangeBtn:hover {
    color: #ee5343;
    background: #fff;
}
.sliderImg img {
    max-height: 550px;
}

.sliderImg {
    text-align: center;
}
.cdx-circle-button {
    position: relative;
    width: 100px;
}
.cdx-circle-button .logo {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
    background: #e4e4e4;
    padding: 20px;
    border-radius: 50%;
}
.cdx-circle-button .cdx-circle-button-text {
    margin-bottom: 0;
    font-size: 13px;
    animation: rotateText 6s linear infinite;
}
@keyframes rotateText {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(130deg)
    }
}
.circle-text-wrp{
    position: absolute;
    top: -20px;
    right: 16%;
}
.cdx-circle-button-text span {
    color: #707887;
}
.customSec {
    padding: 70px 0;
}

h2.heading-title {
    color: #12144b;
    font-size: 48px;
    font-weight: 600;
    margin: 0 0 25px;
}

.companyContent ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.compnayAwards {
    min-width: 100px;
}

.awardLogo img {
    width: 100%;
}

.awardLogo {
    margin: 20px 0;
}

.compnayAwardsContent p, .compnayAwardsContent li {
    font-size: 16px;
    font-weight: 400;
    color: #707887;
    margin: 0 0 10px;
}

.companyContent > .gap20 {
    gap: 40px;
}

.compnayAwardsContent ul.listInline li {
    color: #ee5343;
    margin: 0;
}
.counterSec{
    background: url(../images/bg-10.webp) 0 0 no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.counter {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.counterBx img {
    height: 90px;
}

.counterBx {
    text-align: center;
}

.counterBx h3 {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    margin: 10px 0;
    line-height: 1;
}

.counterBx p {
    font-size: 19px;
    color: #eff2f5;
    margin: 0;
    font-weight: 500;
}
.blueoverlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #0e2b5c;
    opacity: 0.95;
}
.counterSec .container {
    position: relative;
    z-index: 1;
}

.text-dark {
    color: #262626 !important;
}
.accordian-anchor-tags {
    padding: 10px 42px;
    border: 1px solid;
    border-radius: 2.5rem;
    color: #000;
}
.yellow-btn {
    background-color: #dd9d3c !important;
    color: #000 !important;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0px 0px 5px 2px #00000036;
    padding: 8px 20px 8px 20px;
    display: inline-flex;
    white-space: nowrap;
}
.accordian-image-container {
    position: relative;
    display: inline-block;
    height: 100%;
}
.accordian-image-container .image-text {
    z-index: 99;
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translateX(-50%);
    text-align: center;
}
.accordian-image-container .image-text h5, .accordian-image-container .image-text p {
    color: #fff;
    text-align: left;
}
.accordian-image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(80deg, #050b20c4 30%, #050B2000 70%);
    border-radius: 10px;
}
.accordion-section-title {
    color: #121212;
    width: 100%;
    padding: 15px 0;
    cursor: poInter;
    font-family: var(--body-font);
    width: 100%;
    display: inline-block;
    font-size: 17px;
    transition: all linear 0.5s;
    text-decoration: none;
    overflow: none;
    border-bottom: solid 1px #dddddd;
}
.accordion-section-title.active {
    margin-bottom: 0px;
    text-decoration: none;
}
.accordian-title-number {
    background: #dd9d3c;
    padding: 5px 13px;
    border-radius: 50%;
    color: #fff;
}
.accordian-main-title {
    font-weight: 500;
    font-size: 30px;
}
.accordion-section-title img {
    transition: margin-left 0.5s ease-in-out;
    pointer-events: none;
}
.accordion-section-title img {
    margin-left: 120px;
}
.accordion-section-title:before {
    font-family: "FontAwesome";
    content: "\f107";
    float: right;
    color: #fff;
    text-align: center;
    padding: 8px 8px 8px 8px;
    top: 10px;
    font-size: 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 30px;
    position: relative;
    top: 50px;
    background: #dd9d3c !important;
}
.accordion-section-title.active:before {
    content: "\f106";
}
.accordion-section-title:hover img {
    margin-left: 200px;
}
.accordian-image-container img {
    display: block;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
}

.accordion-section-content {
    padding-top: 15px;
    padding-bottom: 5px;
/*    display: none;*/
    margin-bottom: 10px;
}
.accordion-section-content h4 {
    color: #031B4E;
    font-weight: 600;
    font-size: 20px;
}
.flex-heading h2{
    min-width: 340px;
    margin: 0;
}
.text-light .card {
    color: #ffffff !important;
    background: rgba(255, 255, 255, .05);
    border-radius: 30px;
    min-height: 335px;
}
.stepsSec .card-header {
    background-color: #0e2b5c;
    padding: 1rem 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
}
.force-text-center * {
    text-align: center !important;
}
.black-text{
    color: #000 !important;
    font-weight: 600;
}

#section-fun-facts .new-card {
    box-shadow: 0px 0px 8px 2px #00000024;
    padding: 85px;
    border-radius: 1rem;
}
#section-fun-facts h1 {
    font-size: 40px;
    color: #113907;
    font-weight: bold;
}
#section-fun-facts p {
    font-family: montserrat;
    color: #000;
    font-weight: bold;
}
footer {
    background: #f8f9fb;
    padding: 70px;
    font-size: 15px;
}
.google-img {
    padding: 25px 0px;
}




