@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
  }
  body {font-family: "DM Sans", sans-serif; font-size: 14px;padding-top: 0;}
  a, a:hover, a:focus {  text-decoration: none;  transition: all 400ms ease; }
  img{max-width: 100%}
  /* h1, h2, h3, h4, h5, h6 {  } */
  input, button { outline: none !important; box-shadow: none; }
  button{cursor: pointer;}

  .full-width{
    width: 100%;
  }
  .underLine {
      text-decoration: underline;
      color: #000000;
  }
  .listInline {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
      gap: 10px;
  }
  .gap20{
      gap: 20px;
  }
  .underLine:hover {
      text-decoration: none;
      color: #000;
  }
  .owl-carousel .owl-item img{
      width: auto;
  }
  .topGap{
      padding-top: 140px;
  }
  .fullWidth{width: 100%;}
  .mobile{display: none !important;}
  .mainHeader {
      background: #fff;
      padding: 15px 0;
  }
  
  header.mainHeader a {
    color: #0e2b5c;
    font-weight: 400;
    font-size: 14px;
}
.mainSlider{
    background: url(../images/bg-7.webp) 0 0 no-repeat;
    background-size: cover;
/*    min-height: calc(100vh - 51px);*/
}
section.mainSlider .container {
    position: relative;
    padding-top: 120px;
}

a.navbar-brand.p-0 {
    position: absolute;
    left: 15px;
    top: 0;
}

a.navbar-brand img {
    width: 180px;
}

.sliderContent h3 {
    font-size: 20px;
    color: #12144b;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.sliderContent h1 {
    font-size: 60px;
    color: #12144b;
    font-weight: 600;
    margin: 10px 0;
}

.sliderContent h2 {
    font-size: 32px;
    color: #fc5546;
    margin: 0 0 40px;
}

.sliderContent p {
    font-size: 20px;
    font-weight: 400;
}

.orangeBtn {
    display: inline-flex;
    padding: 9px 30px;
    background: #ee5343;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    border: solid 1px #ee5343;
    border-radius: 7px;
}
.orangeBtn:hover {
    color: #ee5343;
    background: #fff;
}
.sliderImg img {
    max-height: 550px;
}

.sliderImg {
    text-align: center;
}
.cdx-circle-button {
    position: relative;
    width: 100px;
}
.cdx-circle-button .logo {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
    background: #e4e4e4;
    padding: 20px;
    border-radius: 50%;
}
.cdx-circle-button .cdx-circle-button-text {
    margin-bottom: 0;
    font-size: 13px;
    animation: rotateText 6s linear infinite;
}
@keyframes rotateText {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(130deg)
    }
}
.circle-text-wrp{
    position: absolute;
    top: -20px;
    right: 16%;
}
.cdx-circle-button-text span {
    color: #707887;
}
.customSec {
    padding: 100px 0;
}

h2.heading-title {
    color: #12144b;
    font-size: 48px;
    font-weight: 600;
    margin: 0 0 25px;
}

.companyContent ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.compnayAwards {
    min-width: 100px;
}

.awardLogo img {
    width: 100%;
}

.awardLogo {
    margin: 20px 0;
}

.compnayAwardsContent p, .compnayAwardsContent li {
    font-size: 16px;
    font-weight: 400;
    color: #707887;
    margin: 0 0 10px;
}

.companyContent > .gap20 {
    gap: 40px;
}

.compnayAwardsContent ul.listInline li {
    color: #ee5343;
    margin: 0;
}
.counterSec{
    background: url(../images/bg-10.webp) 0 0 no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.counter {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.counterBx img {
    height: 90px;
}

.counterBx {
    text-align: center;
}

.counterBx h3 {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    margin: 10px 0;
    line-height: 1;
}

.counterBx p {
    font-size: 19px;
    color: #eff2f5;
    margin: 0;
    font-weight: 500;
}
.blueoverlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #0e2b5c;
    opacity: 0.95;
}
.counterSec .container {
    position: relative;
    z-index: 1;
}
















